/* Container adjustments for centering with flex */
.container {
    height: 25vh;
    /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center align glitch text horizontally */
}

.timer {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.iceberg {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gritx {
    position: relative;
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0;
    animation: glitch1 2.5s infinite;
}

.gritx:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}

.gritx:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

/* Keyframe animations for glitch effects */
@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }

    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }

    10% {
        transform: none;
        opacity: 1;
    }

    27% {
        transform: none;
        opacity: 1;
    }

    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }

    35% {
        transform: none;
        opacity: 1;
    }

    52% {
        transform: none;
        opacity: 1;
    }

    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }

    50% {
        transform: none;
        opacity: 1;
    }

    72% {
        transform: none;
        opacity: 1;
    }

    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 650px) {
    .container {
        height: 10vh;
        /* Maintain smaller height for mobile */
        line-height: 1.1;
        /* Adjust line-height for smaller screens */
    }

    .gritx {
        font-size: 4em;
        /* Decrease font size for mobile screens */
        letter-spacing: 4px;
        /* Adjust letter spacing for smaller text */
    }
}

.unkemptregular {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ABOUT US */
.aboutUs {
    background-color: #0B1033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23171744' stroke-width='1.2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230B1055'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.aboutLogo {
    height: 350px;
}

/* Navbar */
/* Add this to your CSS file */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(29, 29, 31, 0.9);
    /* Slight opacity */
    z-index: 50;
    transition: all 0.3s ease;
}

.navbar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 29, 31, 0.9);
    /* Slight opacity */
    z-index: 50;
    transition: all 0.3s ease;
}